{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>

<h1>NBCRM登录页面</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <div class="form-group">
                            <label for="valid_code">验证码</label>
                            <input type="text" class="form-control" name="valid_code" id="valid_code">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <img id="valid_code_img" src="{% url 'get_valid_img' %}" alt="" style="margin-top: 24px;">
                    </div>
                </div>
                <span id="error" class="text-danger"></span>
                <input id="login" type="button" value="登录" class="btn btn-primary pull-right">

            </form>

        </div>
    </div>
</div>


<script src="{% static 'jquery-3.4.1.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script>

    $('#login').on('click',function () {
        var username = $('[name=username]').val();
        var password = $('[name=password]').val();
        var valid_code = $('[name=valid_code]').val();
        var csrf_token = $('[name=csrfmiddlewaretoken]').val();

        $.ajax({
            url:{% url "login" %},
            type:'post',
            data:{
              username:username,
              password:password,
              valid_code:valid_code,
              csrfmiddlewaretoken:csrf_token,
            },
            success:function (res) {
                //{'code':1000,'msg':'xxx'}
                console.log(res.code)
                if (res.code === 1000){

                    {#location.href = {% url 'index' %};#}
                    var href = location.search.slice(6);
                    if (href){
                        location.href = href;
                    }else {
                        location.href = {% url 'index'  %};
                    }

                }
                else {
                    $('#error').text(res.msg);
                }


            }

        })


    });

    //点击图片刷新验证码
    $('#valid_code_img').click(function () {
        $(this)[0].src += '?';
    })

</script>
</body>
</html>